<ul>
    <li><%= @interview.start_date %></li>
    <li><%= @interview.end_time %></li>
</ul>

<ul>
    <li><%= @contact.first_name %></li>
    <li><%= @contact.last_name %></li>
    <li><%= @contact.position %></li>
    <li><%= @contact.email %></li>
</ul>
<%= link_to "Go Back to Overview", job_applications_path, class:"primary-btn" %>
