<div data-refresh-list-target="list">
  <%= link_to "New Job Application", new_job_application_path, class:"primary-btn" %>
<br>
<br>
<br>
<ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">Active</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">Archived</a>
  </li>
</ul>
<div class="tab-content" id="pills-tabContent">
  <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
   <div class="tableDashboard">

    <% unarchived_jobs = @job_applications.where(archive: false) %>
        <% unarchived_jobs.each do |job_application| %>
          <div class="tableContainer tableCard">
            <%= image_tag image_url(job_application.comp_logo) %>
            <li><%= job_application.title %></li>
            <li><%= job_application.company_name %></li>
            <li><%= job_application.level %></li>
            <li><%= job_application.status %></li>
            <%= link_to archive_job_application_path(job_application), method: :patch, data: { confirm: "Sure to archive? Your Application will disappear from your Dashboard." } do %>
              <i class="fas fa-archive"> Archive application</i>
            <% end %>
            <%= link_to "See Details", job_application_path(job_application), class:"primary-btn" %>
          </div>
        <% end %>
  </div>
  </div>
  <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
   <div class="tableDashboard">
    <% archived_jobs = @job_applications.where(archive: true)  %>
        <% archived_jobs.each do |job_application| %>
          <div class="tableContainer tableCard">
            <li><%= job_application.title %></li>
            <li><%= job_application.company_name %></li>
            <li><%= job_application.level %></li>
            <li><%= job_application.status %></li>
            <%= link_to "Unarchive", unarchive_job_application_path(job_application), method: :patch, data: { confirm: "Sure to archive? Your Application will disappear from your Dashboard." } %>
            <%= link_to "See Details", job_application_path(job_application), class:"primary-btn" %>
          </div>
        <% end %>
    </div>
  </div>
</div>


</div>

