<div data-refresh-list-target="list">
   <br>
   <br>
   <br>
   <%# <div class="tab-content" id="pills-tabContent">
      <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
       <div class="tableDashboard">
        <%= link_to "New Job Application", new_job_application_path, class:"primary-btn" %>
   <%# <br>
      <br>
      <br>
      <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">Active</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">Archived</a>
        </li>
      </ul>
      <div class="tab-content" id="pills-tabContent"> %>

         <!--- Reference Application-Cards --->

         <div class="tableContainer tableCardExample">
            <li class="logoIndex logoExample"></li>
            <li class="applicationCardCompanyNameExample">
               <h3>Company Name</h3>
            </li>
            <li class="applicationCardTitle">
               <h3>Title</h3>
            </li>
            <li class="applicationCardLevel">
               <h3>Level</h3>
            </li>
            <li class="circleExample">
               <h3>Status</h3>
            </li>
            <i class="far fa-star whiteout"></i>
            <i class="fas fa-archive whiteout"></i>
            <i class="fas fa-info-circle whiteout"></i>
         </div>
         <!--- End of reference Application-Cards --->

         <!--- Active Application-Cards --->
         <% unarchived_jobs = @job_applications.where(archive: false, favorite: false) %>
         <% unarchived_jobs.each do |job_application| %>
         <div class="tableContainer tableCard text-decoration-none">
         <%= link_to job_application_path(job_application) do %>
            <%= image_tag image_url(job_application.comp_logo), class:"logoIndex" %>
          <% end %>
         <li class="applicationCardCompanyName"><%= job_application.company_name %></li>
         <li class="applicationCardTitle"><%= job_application.title %></li>
         <li class="applicationCardLevel"><%= job_application.level %></li>
         <% if job_application.status == "Pending" %>
         <li class="circlePurple"><%= job_application.status %></li>
         <% elsif job_application.status == "In process"%>
         <li class="circleGreen"><%= job_application.status %></li>
         <% elsif job_application.status == "Rejected"%>
         <li class="circleRed"><%= job_application.status %></li>
         <% elsif job_application.status == "Offer"%>
         <li class="circleYellow"><%= job_application.status %></li>
         <% end %>
         <%= link_to favorite_job_application_path(job_application), method: :patch do %>
         <i class="far fa-star starColorYellow"></i>
         <% end %>
         <%= link_to archive_job_application_path(job_application), method: :patch, data: { confirm: "Sure to archive? Your Application will disappear from your Dashboard." } do %>
         <i class="fas fa-archive"></i>
         <% end %>
         <%= link_to job_application_path(job_application) do %>
         <i class="fas fa-info-circle"></i>
        <% end %>
          </div>
       <% end %>
      </div>
   </div>
</div>
<!--- End of Active Application-Cards --->
<!--- Archived Application-Cards --->
<div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
   <div class="tableDashboard">
      <!--- Reference Application-Cards --->
      <div class="tableContainer tableCardExample">
         <li class="logoIndex logoExample"></li>
         <li class="applicationCardCompanyNameExample">
            <h3>Company Name</h3>
         </li>
         <li class="applicationCardTitle">
            <h3>Title</h3>
         </li>
         <li class="applicationCardLevel">
            <h3>Level</h3>
         </li>
         <li class="circleExample">
            <h3>Status</h3>
         </li>
         <i class="fas fa-archive whiteout"></i>
         <i class="fas fa-info-circle whiteout"></i>
      </div>
      <!--- End of Reference Application-Cards --->
      <% archived_jobs = @job_applications.where(archive: true)  %>
      <% archived_jobs.each do |job_application| %>
      <div class="tableContainer tableCard">
         <%= image_tag image_url(job_application.comp_logo), class:"logoIndex" %>
         <li class="applicationCardCompanyName"><%= job_application.company_name %></li>
         <li class="applicationCardTitle"><%= job_application.title %></li>
         <li class="applicationCardLevel"><%= job_application.level %></li>
         <% if job_application.status == "Pending" %>
         <li class="circlePurple"><%= job_application.status %></li>
         <% elsif job_application.status == "In process"%>
         <li class="circleGreen"><%= job_application.status %></li>
         <% elsif job_application.status == "Rejected"%>
         <li class="circleRed"><%= job_application.status %></li>
         <% elsif job_application.status == "Offer"%>
         <li class="circleYellow"><%= job_application.status %></li>
         <% end %>
         <%= link_to unarchive_job_application_path(job_application), method: :patch, data: { confirm: "Unarchive?" } do %>
         <i class="fas fa-undo"></i>
         <% end %>
         <%= link_to job_application_path(job_application) do %>
         <i class="fas fa-info-circle"></i>
         <% end %>
      </div>
      <% end %>
   </div>
</div>
<!--- End of Archived Application-Cards --->
</div>
