
<h1 class="text-center">This is your Dashboard</h1>

<div class="container">
<!--- Implementing Statistics (styling needed) --->
<div class="row containerStatisticCards">
  <div class="statisticCardGreen">
      <div class="spaceStatistic">
        <p><strong>In Process</strong></p>
        <i class="fas fa-user-tie"></i>
      </div>
    <% if @job_applications.where(status: "In process").length > 1 %>
      <p class="statisticBottom"><%= @job_applications.where(status: "In process").length %> Applications</p>
      <% elsif @job_applications.where(status: "In process").length == 1%>
      <p class="statisticBottom"><%= @job_applications.where(status: "In process").length %> Application</p>
      <% elsif @job_applications.where(status: "In process").length < 1 %>
      <p class="statisticBottom">Empty</p>
    <% end %>
  </div>

  <div class="statisticCardPurple">
      <div class="spaceStatistic">
        <p><strong>Pending</strong></p>
        <i class="far fa-pause-circle"></i>
      </div>
    <% if @job_applications.where(status: "Pending").length > 1 %>
      <p class="statisticBottom"><%= @job_applications.where(status: "Pending").length %> Applications</p>
      <% elsif @job_applications.where(status: "Pending").length == 1%>
      <p class="statisticBottom"><%= @job_applications.where(status: "Pending").length %> Application</p>
      <% elsif @job_applications.where(status: "Pending").length < 1 %>
      <p class="statisticBottom">Empty</p>
    <% end %>
  </div>

  <div class="statisticCardYellow">
      <div class="spaceStatistic">
        <p><strong>Offer</strong></p>
        <i class="fas fa-coins"></i>
      </div>
    <% if @job_applications.where(status: "Offer").length > 1 %>
      <p class="statisticBottom"><%= @job_applications.where(status: "Offer").length %> Applications</p>
      <% elsif @job_applications.where(status: "Offer").length == 1%>
      <p class="statisticBottom"><%= @job_applications.where(status: "Offer").length %> Application</p>
      <% elsif @job_applications.where(status: "Offer").length < 1 %>
      <p class="statisticBottom"> Empty</p>
    <% end %>
  </div>
  <div class="statisticCardRed">
      <div class="spaceStatistic">
        <p><strong>Rejected</strong></p>
        <i class="far fa-times-circle"></i>
      </div>
    <% if @job_applications.where(status: "Rejected").length > 1 %>
      <p class="statisticBottom"><%= @job_applications.where(status: "Rejected").length %> Applications</p>
      <% elsif @job_applications.where(status: "Rejected").length == 1%>
      <p class="statisticBottom"><%= @job_applications.where(status: "Rejected").length %> Application</p>
      <% elsif @job_applications.where(status: "Rejected").length < 1 %>
      <p class="statisticBottom"> Empty</p>
    <% end %>
  </div>
</div>
<!--- End of Statistics --->


<!--- Search Bar (styling needed)--->

  <div data-controller="refresh-list">
    <%= form_with url: job_applications_path, method: :get, html: { class: 'mb-5', data: { refresh_list_target: 'form' } } do |f| %>
      <%= f.text_field :query,
                      class: "form-control",
                      placeholder: 'Search for an Application',
                      value: params[:query],
                      data: {
                        refresh_list_target: 'searchInput',
                        action: "keyup->refresh-list#update"
                      } %>

    <% end %>


  <div class="text-center">
  <%= link_to "See All", job_applications_path( params: {filter: ""}), class: "primary-btn"  %>
   <%= link_to "In process", job_applications_path( params: {filter: "In process"}), class: "primary-btn"  %>
   <%= link_to "Pending", job_applications_path( params: {filter: "Pending"}), class: "primary-btn"  %>
   <%#= link_to "Unanswerd", job_applications_path( params: {filter: "Unanswerd"}), class: "primary-btn"  %>
   <%= link_to "Offer", job_applications_path( params: {filter: "Offer"}), class: "primary-btn"  %>
   <%= link_to "Rejected", job_applications_path( params: {filter: "Rejected"}), class: "primary-btn"  %>

</div>
<br>
  <%= render "list" %>
  </div>

<!--- End of Search Bar --->

<!--- Start of  of filter buttons --->


<!--- end of  of filter buttons --->


</div>


<!--- Chart1 --->
<div class="container">
<canvas id="myChart" width="200px" height="100px" data-labels="<%= @data_keys %>" data-data="<%= @data_values %>" ></canvas>
</div>
</div>
