<h1>This is your Dashboard</h1>

<!--- Implementing Statistics (styling needed) --->

<p>Statistics Following:</p>
<%= @job_applications.where(status: "Pending").length %>
<%= @job_applications.where(status: "In process").length %>
<%= @job_applications.where(status: "Offer").length %>
<%= @job_applications.where(status: "Rejected").length %>
<p>End of Statistics</p>

<!--- End of Statistics --->


<!--- Search Bar (styling needed)--->

  <div data-controller="refresh-list">
    <%= form_with url: job_applications_path, method: :get, html: { class: 'mb-5', data: { refresh_list_target: 'form' } } do |f| %>
      <%= f.text_field :query,
                      class: "form-control",
                      placeholder: 'Search for an Application',
                      value: params[:query],
                      data: {
                        refresh_list_target: 'searchInput',
                        action: "keyup->refresh-list#update"
                      } %>
    <% end %>
    <%= render "list" %>
  </div>

<!--- End of Search Bar --->


<!--- Some Cards Independent from Search (styling needed) --->

<%= link_to "New Job Application", new_job_application_path, class:"primary-btn" %>
<div class="tableDashboard">
  <% @job_applications.each do |job_application| %>
    <div class="tableContainer tableCard">
      <li><%= job_application.title %></li>
      <li><%= job_application.company_name %></li>
      <li><%= job_application.level %></li>
      <li><%= job_application.status %></li>
      <%= button_to "Archive Application", archive_path(job_application), data: { confirm: "Sure to archive?" } %>
      <%= link_to "See Details", job_application_path(job_application), class:"primary-btn" %>
    </div>
  <% end %>
</div>

<!--- End of Cards --->
