
<p class="text-right dateTimeDashboard"><%= Date.today.strftime("%a, %d %B %Y") %></p>
<div class="container displayingRightIndex">
  <h1 class="text-left subheaderApplications">This is your JAM!</h1>
  <h4 class="text-left subheaderApplicationsPara">You have <%= @total %> applications.</h4>

  <!--- Implementing Statistics (styling needed) --->
  <div class="row containerStatisticCards">
    <div class="statisticCardGreen">
        <div class="spaceStatistic">
          <p><strong>In Process</strong></p>
          <i class="fas fa-user-tie"></i>
        </div>
      <% if @in_process > 1 %>
        <p class="statisticBottom"><%= @in_process %> Applications</p>
        <% elsif @in_process == 1%>
        <p class="statisticBottom"><%= @in_process %> Application</p>
        <% elsif @in_process < 1 %>
        <p class="statisticBottom">Empty</p>
      <% end %>
    </div>

    <div class="statisticCardPurple">
        <div class="spaceStatistic">
          <p><strong>Pending</strong></p>
          <i class="far fa-pause-circle"></i>
        </div>
      <% if @pending > 1 %>
        <p class="statisticBottom"><%=@pending %> Applications</p>
      <% elsif @pending == 1%>
        <p class="statisticBottom"><%=@pending %> Application</p>
      <% elsif @pending < 1 %>
        <p class="statisticBottom">Empty</p>
      <% end %>
    </div>

    <div class="statisticCardYellow">
        <div class="spaceStatistic">
          <p><strong>Offer</strong></p>
          <i class="fas fa-coins"></i>
        </div>
      <% if @offer > 1 %>
        <p class="statisticBottom"><%= @offer %> Applications</p>
        <% elsif @offer == 1%>
        <p class="statisticBottom"><%= @offer %> Application</p>
        <% elsif @offer < 1 %>
        <p class="statisticBottom"> Empty</p>
      <% end %>
    </div>
    <div class="statisticCardRed">
        <div class="spaceStatistic">
          <p><strong>Rejected</strong></p>
          <i class="far fa-times-circle"></i>
        </div>
      <% if @rejected > 1 %>
        <p class="statisticBottom"><%= @rejected %> Applications</p>
        <% elsif @rejected == 1%>
        <p class="statisticBottom"><%= @rejected %> Application</p>
        <% elsif @rejected < 1 %>
        <p class="statisticBottom"> Empty</p>
      <% end %>
    </div>
  </div>
  <!--- End of Statistics --->

<div class="block_1"></div> <hr />

<!--- Favourite Applications--->
<h2 class="subheaderApplications">Dream Jobs:</h2>

        <% @favorites.each do |job_application| %>
          <div class="tableContainer tableCard">
            <%= link_to job_application_path(job_application) do %>
            <%= image_tag image_url(job_application.comp_logo), class:"logoIndex" %>
          <% end %>
            <li class="applicationCardCompanyName"><%= job_application.company_name %></li>
            <li class="applicationCardTitle"><%= job_application.title %></li>
            <li class="applicationCardLevel"><%= job_application.level %></li>
            <% if job_application.status == "Pending" %>
            <li class="circlePurple"><%= job_application.status %></li>
            <% elsif job_application.status == "In process"%>
            <li class="circleGreen"><%= job_application.status %></li>
            <% elsif job_application.status == "Rejected"%>
            <li class="circleRed"><%= job_application.status %></li>
            <% elsif job_application.status == "Offer"%>
            <li class="circleYellow"><%= job_application.status %></li>
            <% end %>
            <%= link_to favorite_job_application_path(job_application), method: :patch, class:"icon-link" do  %>
            <i class="fas fa-star starColorYellow"></i>
            <span class="tooltiptext">Unfavorite</span>
            <% end %>
            <%= link_to archive_job_application_path(job_application), method: :patch, data: { confirm: "Sure to archive? Your Application will disappear from your Dashboard." }, class: "icon-link" do %>
              <i class="fas fa-archive"></i>
              <span class="tooltiptext">Archive</span>
            <% end %>
            <%= link_to job_application_path(job_application), class: "icon-link" do %>
             <i class="fas fa-info-circle"></i>
             <span class="tooltiptext">Info</span>
            <% end %>
          </div>
        <% end %>

<!--- End of Favourite Applications--->

<div class="block_1"></div> <hr />

  <!--- Search Bar (styling needed)--->

<div>
  <div data-controller="refresh-list">
    <div class="d-flex containerHeadSearch">
    <h2 class="subheaderApplicationsOne">See all of your Active Applications</h2>
        <%= form_with url: job_applications_path, method: :get, html: { class: 'mb-5', data: { refresh_list_target: 'form' } } do |f| %>
          <%= f.text_field :query,
                          class: "form-control listStylingIndex",
                          placeholder: 'Search for an Application',
                          value: params[:query],
                          data: {
                            refresh_list_target: 'searchInput',
                            action: "keyup->refresh-list#update"
                          } %>

        <% end %>
    </div>
  <div class="tableDashboard">
<div>
          <div class="row filterStretch">
              <%= link_to "See All", job_applications_path( params: {filter: ""}), class: "circleBlackFilter"  %>
              <%= link_to "In process", job_applications_path( params: {filter: "In process"}), class: "circleGreenFilter"  %>
              <%= link_to "Pending", job_applications_path( params: {filter: "Pending"}), class: "circlePurpleFilter"  %>
              <%= link_to "Offer", job_applications_path( params: {filter: "Offer"}), class: "circleYellowFilter"  %>
              <%= link_to "Rejected", job_applications_path( params: {filter: "Rejected"}), class: "circleRedFilter"  %>
          </div>
          <br>
         </div>
    <%= render "list" %>

  <!--- End of Search Bar --->




  <!--- Chart1 --->
  <div class="container">
  <canvas id="myChart" width="200px" height="100px" data-labels="<%= @data_keys %>" data-data="<%= @data_values %>" ></canvas>
  </div>
</div>
