<h1>Show Page</h1>
<!-- Job application display -->

<div class="container">
  <%= link_to "Edit", edit_job_application_path(@job_application), class:"primary-btn" %>
  <br>

    <h2><%= @job_application.title %></h2>
    <h3><%= @job_application.level %> level</h3>
    <h3><%= @job_application.company_name %></h3>
    <p>Job description: <%= @job_application.description %></p>
    <p><%= @job_application.status %></li>
    <%= link_to "Job link", @job_application.link %>
    <p>Address: <%= @job_application.address %></p>
    <p><%= @job_application.remote ? "Remote" : "On site" %></p>
    <p><%= @job_application.favorite ? "🖤" : "-" %></p>
    <p>Notes<%= @job_application.notes %></p>
    <p>Applierd on:<%= @job_application.created_at %></p>
    <p>Updated on:<%= @job_application.updated_at %></p>
    <br>

<!-- Job application display -->

<!--  Favorite -->
<div>
    <% if @job_application.favorite %>
     <div class="text-center"><%= link_to "unfavorite",  favorite_job_application_path(@job_application), method: :patch, class: "primary-btn"%></div>
    <% else %>
    <div class="text-center"><%= link_to "favorite",  favorite_job_application_path(@job_application), method: :patch, class: "primary-btn"%></div>
   <% end %>
</div>

<!-- Favorite -->


<div class="card-header" style="width: 18rem;">
   <h2 class="text-center">Interviews</h2>
    <% @job_application.interviews.each do |interview| %>
        <%= link_to job_application_path(interview.job_application), class:'text-decoration-none' do %>
           <div class="card-body border border-primary">
               <p class="card-text">Start date: <%= interview.start_date %></p>
               <p class="card-text">End date: <%= interview.end_time %></p>
               <p class="card-text">Notes: <%= interview.notes %></p>
               <p class="card-text mb-3">Interview type:  <%= interview.interview_type %></p>
            <% end %>
               <%= link_to "Edit", edit_job_application_interview_path(@job_application, interview), class:'primary-btn' %>
               <%= link_to "Delete", job_application_interview_path(@job_application, interview), class:'primary-btn', method: :delete, data: { confirm: "Are you sure?" } %>
          </div>

          <!--  add contact-->

      <%= render 'contact_modal', interview: interview %>

      <!-- end add contact-->

      <!--  displaying conatct-->
      <h3>Interview contact/s</h3>

      <% interview.contacts.each do  |contact| %>
        <p><%= contact.first_name %> <%= contact.last_name %></p>
        <p><%=  contact.position %></p>
        <p><%= contact.email%></p>
        <p><%= contact.phone%></p>
        <%= link_to "Linkedin profile", contact.contact_url %>
        <br>

        <%= render 'edit_contact_modal', interview: interview, contact: contact %>

      <br>
        <%= link_to "Delete Contact", interview_contact_path(interview, contact), method: :delete, data: { confirm: "Are you sure?" } %>
      <% end %>
      <!-- end displaying conatct-->

    <% end %>
<!-- end displaying interview-->
</div><br>
<%= link_to "Create a new interview", new_job_application_interview_path(@job_application), class: "primary-btn"%>
<%= link_to "Go back", job_applications_path, class:'primary-btn' %>

<<<<<<< HEAD


=======
<!-- MAP -->

<div id="map"
     style="width: 100%; height: 600px;"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>
>>>>>>> master
