<h1>Show Page</h1>
<!-- Job application display -->

  <%= link_to "Edit", edit_job_application_path(@job_application), class:"btn primary-btn" %>

  <!--  Favorite -->
    <% if @job_application.favorite %>
     <%= link_to "favorite",  favorite_job_application_path(@job_application), method: :patch, class: "btn primary-btn"%>
    <% else %>
    <%= link_to "unfavorite",  favorite_job_application_path(@job_application), method: :patch, class: "btn primary-btn"%>
   <% end %>

<div class="row">
  <div class="col-8">
    <h2><%= @job_application.title %> <%= @job_application.favorite ? "â­" : "" %></h2>
    <h3><%= @job_application.company_name %></h3>
    <p><strong><%= @job_application.level %></strong></p>
    <p>Job description: <%= @job_application.description %></p>
    <p><%= @job_application.status %></p>
    <%= link_to "Job link", @job_application.link %>
    <p>Address: <%= @job_application.address %></p>
    <p><%= @job_application.remote ? "Remote" : "On site" %></p>
    <p>Notes<%= @job_application.notes %></p>
    <p>Applierd on:<%= @job_application.created_at %></p>
    <p>Updated on:<%= @job_application.updated_at %></p>
  </div>


  <!-- MAP -->
    <div id="map"
        class="col-4"
        style="width: 100%; height: 600px;"
        data-markers="<%= @markers.to_json %>"
        data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>

</div>



<div class="container card-deck">
<% @job_application.interviews.each do |interview| %>
  <div class="card bg-light mb-3" style="max-width: 18rem;">
    <div class="card-header">
      <h3>Interview</h3>
      <%= link_to "Add interview", new_job_application_interview_path(@job_application), class: "primary-btn"%>
      <%= link_to "Edit", edit_job_application_interview_path(@job_application, interview), class:'primary-btn' %>
      <%= link_to "Delete", job_application_interview_path(@job_application, interview), class:'primary-btn', method: :delete, data: { confirm: "Are you sure?" } %>
    </div>
    <div class="card-body">
      <p class="card-text">Start date: <%= interview.start_date %></p>
      <p class="card-text">End date: <%= interview.end_time %></p>
      <p class="card-text">Interview type:  <%= interview.interview_type %></p>
      <p class="card-text"><%= interview.notes %></p>
      <br>

      <% interview.contacts.each do  |contact| %>
        <p> <strong>Interview contact</strong></p>
        <p><%= contact.first_name %> <%= contact.last_name %></p>
        <p><%=  contact.position %></p>
        <p><%= contact.email%></p>
        <p><%= contact.phone%></p>
        <%= link_to "Linkedin profile", contact.contact_url %>
        <br>

        <%= render 'contact_modal', interview: interview %>
        <%= render 'edit_contact_modal', interview: interview, contact: contact %>
        <%= link_to "Delete Contact", interview_contact_path(interview, contact), method: :delete, data: { confirm: "Are you sure?" },class:'btn primary-btn' %>
      <% end %>
    </div>
  </div>
<% end %>
</div>

<br>

<%= link_to "Go back", job_applications_path, class:'primary-btn' %>
