<h1>Show Page</h1>
<%= link_to "Edit", edit_job_application_path(@job_application), class:"primary-btn" %>
<ul>
  <li><%= @job_application.title %></li>
  <li><%= @job_application.level %></li>
  <li><%= @job_application.company_name %></li>
  <li><%= @job_application.status %></li>
  <li><%= link_to "Job link", @job_application.link %></li>
  <li><%= @job_application.address %></li>
  <li><%= @job_application.remote %></li>
  <li><%= @job_application.favorite %></li>
  <li><%= @job_application.notes %></li>
  <li><%= @job_application.description %></li>
  <li><%= @job_application.created_at %></li>
  <li><%= @job_application.updated_at %></li>
  <li><%= link_to "See Interview Details", job_application_interview_path(@job_application),class:"primary-btn" %></li>
  <li><%= link_to "Add Interview Details", new_job_application_interview_path(@job_application), class:"primary-btn" %></li>
</ul>
