<div class="container">

    <!-- Job application details -->

  <div>
    <div class="d-flex justify-content-between align-items-center">         <!--  company + favorit + edit job -->
      <h2>
        <%= @job_application.company_name %>

        <!--  Favorite -->

        <% if @job_application.favorite %>
          <%= link_to  favorite_job_application_path(@job_application), method: :patch, class: "icon-link" do %>
            <i class="fas fa-star" id="favor"></i>
          <% end %>
        <% else %>
          <%= link_to  favorite_job_application_path(@job_application), method: :patch, class: "icon-link" do %>
            <i class="far fa-star"></i>
          <% end %>
        <% end %>
      </h2>
      <%= link_to edit_job_application_path(@job_application), class:"text-decoration-none icon-text" do %>
        <i class="fas fa-edit"></i> Edit application</i>
      <% end %>
    </div>

    <h3><%= @job_application.title %></h3>
    <p><strong><%= @job_application.level %></strong></p>
    <p> <strong>Job description:</strong>  <%= @job_application.description %></p>
    <p>Status: <%= @job_application.status %></p>
    <%= link_to "Job link", @job_application.link, class:"mb-4"%>
    <p>Address: <%= @job_application.address %></p>
    <p><%= @job_application.remote ? "Remote" : "On site" %></p>
    <p>Notes: <%= @job_application.notes %></p>
    <p>Applied on: <%= @job_application.created_at %></p>
    <p>Updated on: <%= @job_application.updated_at %></p>
  </div>


  <!-- Interviews -->

  <div class="d-flex justify-content-between align-items-center">
    <h2 class="mb-0">Interviews</h2>

    <%= render 'interview_modal', job_application: @job_application.id %>

  </div>

  <!-- Interview cards -->

  <div class="interview-card" >
    <% @job_application.interviews.each do |interview| %>
      <% interview.contacts.each do  |contact| %>
        <div class="interview-head">                  <!-- Head -->
          <h3>                                                <!-- Date -->
            <%= interview.start_date.strftime("%A %d %B") %>
          </h3>

          <h3>                                                 <!-- Time -->
            <%= interview.start_date.strftime("%H.%M - ") %>
            <%= interview.end_time.strftime("%H.%M") %>
          </h3>

          <h3>                                                <!-- Type -->
            <%= interview.interview_type %>
          </h3>

          <div class="icon-group">                            <!-- Icons interview-->

            <!-- Add contact -->

            <%= render 'contact_modal', interview: interview %>

            <!-- Edit interview -->

            <%= link_to edit_job_application_interview_path(@job_application, interview), class:'text-decoration-none icon-link' do %>
              <i class="fas fa-edit"></i>
            <% end %>

            <!-- Delete interview -->

            <%= link_to job_application_interview_path(@job_application, interview), class:'text-decoration-none icon-link', method: :delete, data: { confirm: "Are you sure?" } do %>
              <i class="fas fa-trash-alt"></i>
            <% end %>

            <!-- More -->
            <a class="icon-link more" href > <!-- data-toggle="collapse" data-target="#collapse" aria-expanded="flase" aria-controls="collapse" -->
              <i class="fas fa-chevron-down"></i>
            </a>
          </div>
        </div>


        <div class="interview-panel">                     <!-- Dropdown -->
          <p>Interview link:  </p>
          <p><%= interview.notes %></p>
          <hr>
          <p><strong>Interview contact</strong></p>
          <p><%= contact.first_name %> <%= contact.last_name %></p>
          <p><%=  contact.position %></p>
          <p><%= contact.email%></p>
          <p><%= contact.phone%></p>
          <%= link_to "Linkedin profile", contact.contact_url %>
          <br>
          <div class="icon-group">                        <!-- Icons contact-->
                  <!-- Edit contact -->
            <%= render 'edit_contact_modal', interview: interview, contact: contact %>

                <!-- Delete contact -->
            <%= link_to "Delete Contact", interview_contact_path(interview, contact), method: :delete, data: { confirm: "Are you sure?" },class:'btn primary-btn' %>

          </div>
        </div>
      <% end %>
    <% end %>
  </div>

  <!-- MAP -->
  <div id="map"
    style="width:100vh; height:300px;"
    data-markers="<%= @markers.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>

</div>


<br>
