<!DOCTYPE html>
<html>
  <head>
    <title>JAM</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>

  </head>

  <body>
    <div class="d-flex">

      <% unless current_page?("/") || current_page?("/users/sign_in") || current_page?("/job_applications/new") %>
        <%= render 'shared/sidebar' %>  
      <% end %>  
    </div>

    <%= render 'shared/flashes' %>
    <%= yield %>
    <%= render 'shared/footer' %>
 </body>
</html>
